@charset "UTF-8";

body {
    background-color: #ff8000e5;
}

table {
    border: solid 10px;
}

#enternote {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border: solid 10px;
}

input {
    font-size: 25px;
    border-radius: 50px;
    outline: none;
}

textarea {
    outline: none;
}

.header {
    margin-top: 50px;
}

#enter-note {
    margin-right: 20px;
}

#shownotes {
    margin-left: 20px;
}

#main-buttons {
    font-size: 35px;
}
