{% extends 'base.html' %}

{% block body %}
<table align="center">
    <thead style="border: 10px;">
        <tr>
            <td>Date</td>
            <td>Title</td>
            <td>Edit/Delete/Rename</td>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
            <tr>
                <td>{{ row.date }}</td>
                <td>{{ row.title }}</td>
                <td id="buttons">
                    <a href="{{ url_for('edit_note', name=row.title) }}">
                        <button type="submit" name="edit">Edit</button>
                    </a>

                    <a href="{{ url_for('delete_note', name=row.title) }}">
                        <button type="submit" name="delete">Delete</button>
                    </a>

                    <a href="{{ url_for('rename_note', name=row.title) }}">
                        <button type="submit" name="rename">Rename</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
