{% extends 'base.html' %}

{% block body %}
<table>
    <thead>
        <tr>
            <td>Date</td>
            <td>Title</td>
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
            <tr>
                <td>{{row.title}}</td>
                <td>
                    <form action="{{ url_for('edit_note', name=row.title) }}" method="POST">
                        <button type="submit" name="edit">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('delete_note', name=row.title) }}" method="POST">
                        <button type="submit" name="delete">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
